* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* General Styles */

/* Header */
header {
    margin: 40px 10px;
    display: flex;
    max-width: 100vw;
    justify-content: space-between;
}

header .request-account {
    margin-top: 30px;
    margin-right: 60px;
}

/* Header welcome account */
header .request-account a {
    background-color: #FE4E00;
    color: #F6F7EB;
    text-decoration: none;
    border: none;
    padding: 20px 30px;
    border-radius: 32px;
    font-family: Roboto, sans-serif;
}

/* Logo */
header img {
    width: 100px;
    height: 100px;
    margin-left: 3 0px;
}

/* Welcome Form */
.welcome-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;

}

/* Welcome form section */
.welcome-form-section {
    border: 1px solid #F6F7EB;
    background-color: #F6F7EB;
    padding: 20px;
    width: 600px;
    border-radius: 30px;
}

/* Welcome form section h2 */
.welcome-form-section h2 {
    margin-bottom: 10vh;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 35px;
    color: #FE4E00;
}

/* Reduce images size */

.form-group-radio img {
    width: 100px;
    margin: 0 20px;
}

/* User accounts Names  */
.form-group-radio p {
    text-align: center;
    font-family: Roboto, sans-serif;
    margin: 10px 0 30px 0;
}

/* Hide the radio buttons */

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio]+img {
    cursor: pointer;
}

[type=radio]:checked+img {
    border: 5px solid #F7F052;
    border-radius: 100%;
}

/* User accounts justify */
.user-accounts {
    display: flex;
    justify-content: space-between;
}

/* Email and Password */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
    margin-left: 20px;
    margin-right: 20px;
}

/* Form group label and role label */
.form-group label {
    margin-bottom: 1.5vh;
    font-family: Roboto, sans-serif;
}

.role-label{
    margin-left: 20px;
    margin-bottom: 1.5vh;
    font-family: Roboto,sans-serif;
}

/* form group input */
.form-group input {
    padding: 15px;
    border: 1px solid rgba(255, 174, 3, 0.4);
    border-radius: 32px;
    outline: none;
    font-family: Roboto, sans-serif;
}

/* Input focus */
.form-group input:focus {
    border:2px solid rgb(255, 174, 3);
}

/* submit button */
.submit-button{
    display: flex;
    justify-content: center;
}
.submit-button input{
    width: 75%;
    padding: 20px 40px;
    border: 1px solid #FE4E00;
    background-color: #FE4E00;
    color: #F6F7EB;
    border-radius: 32px;
    cursor: pointer;
    font-family: Roboto,sans-serif;
}

/* Footer design */
footer {
    margin: 10px 10px 2px 10px;
    display: flex;
    max-width: 100vw;
    justify-content: flex-start;
}

footer p {
    margin-top: 30px;
    margin-left: 10px;
   font-family: Roboto, sans-serif;
   color: #FE4E00;
   font-weight: black;
}


/* Logo */
footer img {
    width: 50px;
    height: 50px;
    margin-left: 3px;
}

/* Mobile screens */
@media only screen and (max-width:400px) {

    /* Request account */

    header .request-account{
        margin-right: 10px;
    }
    header .request-account a {     
        padding: 10px 20px;
        border-radius: 16px; 
    }

    /* logo */
    header img{
        width: 80px;
        height: 80px;
        margin-left: 10px;
    }

    /* Welcome form section */
    .welcome-form-section {
        width: 100vw;
        background-color: #ffffff;
        border: none;
        padding: 0;

    }

    /* Reduce images size */

    .form-group-radio img {
        width: 80px;
    }

    footer{
        justify-content: center
    }

    footer img{
        width: 40px;
        height: 40px;

    }
    
}

/* Tablet screens */
@media only screen and (min-width:401px) and (max-width:960px) {
    /* Request account */
    header .request-account {
        margin-right: 10px;
    }

    header .request-account a {
        padding: 15px 25px;
        border-radius: 24px;
    }
    /* Welcome form */
     .welcome-form-section{
         width: 400px;
     }

     /* form group image */
     .form-group-radio img {
         width: 55px;
     }

}